body{
	font-family: 'Lato', sans-serif;
	color: #222222;
	margin: 0;
	background: #f7f7f7;
}

p, h1, h2, h3{
	margin:0;
}

/*header*/

.page-header{
	background:#fff;
	width:100%;
	display:flex;
	padding: 5px 0;
}

.page-header span, .food-health-image, .food-health-headline, .recent-stories-image, .recent-stories-headline{
	flex:1;
}

.title{
	font-size:22px;
}

.page-header h3{
	display:inline;
	position: relative;
    top: -4px;
}

.page-header input{
	width: 78%;
    border: none;
    top: -5px;
    height: 25px;
    position: relative;
}

.page-header .fa-bars{
	margin: 0 3px 0 5px;
	cursor:pointer;
}

.page-header .fa{
	font-size: 30px;
}

/*content*/

.nav-bar{
	margin:0;
	padding:0;
	text-align:center;
	display:none;
}

.nav-bar li{
	padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    background: #fff;
	cursor:pointer;
}

.nav-bar li:hover{
	background: #f9f9f9;
}

section, .food-health-content{
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    margin:15px;
}

.section-heading{
	font-size:16px;
	font-weight:bold;
	border-bottom:3px solid #000;
	margin-bottom:10px;
}

.business-article-section-two .section-heading{
	font-size:14px;
}

.politicalnews .section-heading, .politics-article-image h2, .food-health-heading .section-heading, .recent-stories-heading .section-heading{
	font-size:28px;
}

.yellowborder{
	border-color: #edd30d;
    width: 66px;
}

.coralborder{
	border-color: #f26c60;
    width: 76px;
}

.lightblueborder{
	border-color: #60bcf2;
    width: 57px;
}

.pinkborder{
	border-color: #f260a4;
    width: 145px;
}

.navyblueborder{
	border-color: #6093f2;
    width: 86px;
}

.blueborder{
	border-color: #2f73e4;
    width: 182px;
}

.section-one, .recent-stories-article{
	margin:0;
}

.section-one-content, .business-article-content, .politics-article-content, .food-article-content{
	padding:15px;
}

.article-headline, .business-headline, .politics-brief, .food-headline{
	font-size: 26px;
}

.article-brief, .newsletter-ad, .footer-logo{
	display:none;
}

.business-brief, .food-brief{
	font-size:14px;
	color:#5c5c5c;
	margin-top: 15px;
}

.correspondent-info{
	display:flex;
	margin-top:10px;
}

.correspondent-details p:first-child, .business-article-info, .politics-article-info, .food-article-info{
	color: #818181;
    font-size: 16px;
    margin-top: 12px;
}

.correspondent-details p:last-child{
	color: #3d3d3d;
    font-size: 14px;
    font-weight:lighter;
}

.news-headline{
	font-size:22px;
	font-weight:bold;
}

.business-article-section-two .yellowborder{
	width:61px;
}

.politicalnews, .food-health-heading{
	margin: 15px;
	clear: both;
}

.grey-background{
	box-shadow:none;
	background:transparent;
}

.business-article-section-two div, .news-content{
	padding:15px;
	border-bottom: 1px solid #d8d8d8;
}

.business-article-section-two div:last-of-type, .news-article:last-of-type .news-content:last-child{
	border-bottom: none;
}

.news-article-info{
	font-size: 14px;
	color: #818181;
	margin-top:12px;
}

/*newsletter*/

.newsletter{
	width: 92%;
    height: 265px;
    display: table;
    background-color: #2f73e4;
    color:#fff;
    margin:auto;
}

.newsletter div{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.newsletter button, .carousel button{
	display: block;
    margin: auto;
    border-radius: 108.1px;
    background: transparent;
    border: solid 1.6px #ffffff;
    color: #fff;
    margin-top: 22px;
    padding: 7px 17px;
	cursor:pointer;
}

.newsletter .fa-envelope-o{
	font-size: 32px;
}

.newsletter p{
    font-size: 16px;
    margin-top: 10px;
}

.newsletter input{
	height: 25px;
    border-radius: 4.3px;
    background-color: #ffffff;
    border: 0;
    width: 80%;
    margin-top: 15px;
    padding-left: 5px;
}

.newsletter ::placeholder{
	color:#a0a0a0;
}

/*carousel*/

figure{
	margin:0;
	position: relative;
}

.carousel div{
	position:relative;
}

.carousel img{
	position:relative;
	width: 100%;
    height: 379px;
    color:#fff;
	background-color: rgba(0,0,0,0.5);
}

.c-content{
	position: absolute;
    color: #fff;
    width: 98%;
    top: 23%;
}

.carousel h2, .carousel button, .carousel p{
	z-index: 1;
    position: relative;
    text-align: center;
    top: 15%;
}

.carousel h2{
	margin: 23px;
	font-size: 28px;
}

.carousel p{
	width: 75%;
    margin: auto;
    font-size: 22px;
}

.carousel span.prev, .next{
	position: absolute;
	color: #fff;
    z-index: 1;
    top: 45%;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background: rgba(0, 0, 0, .3);
}

.carousel .fa{
	line-height: 35px;
    width: 35px;
    text-align: center;
    cursor:pointer;
}

.carousel .prev{
	left: 10px;
}

.carousel .next{
	right: 10px;
}

.carousel{
	position:relative;
	height: 379px;
	margin: 15px;
	clear: both;
	overflow:hidden;
}

/*carousel end*/

.politics-article-image {
    background-image: url(../images/politics-image.jpg);
    height: 511px;
    background-size: 100% 100%;
    color: #fff;
    display: table;
    margin:15px;
}

.politics-article-image div{
    display: table-cell;
    vertical-align: bottom;
    padding: 15px;
}

.politics-article-image small{
	font-size: 16px;
    margin-top: 12px;
    display:block;
}

.readmore{
	display: inline-flex;
    float: right;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 15px;
}

.readmore .fa-long-arrow-right{
    font-size: 28px;
    margin-left: 5px;
}

.food-health-content, .recent-stories-content{
	display:flex;
	margin: 0 0 15px 0;
}

.food-health-headline .headline, .recent-stories-headline .headline{
	font-size:14px;
	color:#222;
	padding:15px;
}

.food-health-info, .recent-stories-info{
	font-size:12px;
	color:#818181;
	padding: 0 15px;
}

.food-health-heading .pinkborder{
	width:179px;
}

.food-headline{
	color:#222;
}

.recent-stories-article{
	box-shadow: none;
	clear: both;
	padding:15px;
}

.recent-stories-article .recent-stories-headline .section-heading{
	font-size:11px;
	margin:0 15px;
}

.recent-stories-article .recent-stories-headline .pinkborder{
	width: 109px;
}

.recent-stories-date-info{
	font-size:10px;
	margin:0 15px;
	color:#3d3d3d;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #2f73e4;
  display: inline-block;
  border-radius: 25px;
  margin: 0 5px;
}

.circleparent{
	text-align:center;
}

.circlesection{
	margin: 0px;
    box-shadow: none;
    padding: 15px;
}

/*footer*/

.page-footer{
	padding: 15px;
    background: #212121;
    width: auto;
  	text-align:center;
  	color:#fff;
  	font-size:13px;
}

.page-footer a:link{
	color:#fff;
	border-right:1px solid #fff;
	text-decoration: none;
	padding: 0 5px;
}

.page-footer a:link:last-of-type{
	border:none;
}

.page-footer a:active{
	color:#fff;
	text-decoration: none;
}

.page-footer a:visited{
	color:#fff;
	text-decoration: none;
}

.page-footer a:hover{
	color:#fff;
	text-decoration: none;
}

.page-footer p{
	margin-top:20px;
}

/*code for responsive---tablet*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	.section-one, .business-article, .politics-article-container, .news-article, .food-health-container{
		display:flex;
	}
	
	.section-one-image, .section-one-content, .business-article-section-one, .business-article-section-two, .politics-article-image, .politics-article-one, .news-content, .food-health-container .grey-background, .food-health-section, .page-footer span{
		flex:1;
	}
	
	.section-heading, .business-article-section-two .section-heading, .business-brief, .food-brief, .recent-stories-article .recent-stories-headline .section-heading, .recent-stories-date-info{
		font-size:12px;
	}
	
	.yellowborder{
		width:53px;
	}
	
	.coralborder{
		width:61px;
	}
	
	.lightblueborder{
		width:46px;
	}
	
	.pinkborder{
		width:121px;
	}
	
	.business-article-section-two .yellowborder{
		width:52px;
	}
	
	.navyblueborder{
		width:81px;
	}
	
	.blueborder{
		width:169px;
	}
	
	.recent-stories-article .recent-stories-headline .pinkborder{
		width:122px;
	}
	
	.article-headline, .business-headline, .politics-brief{
		font-size: 22px;
	}
	
	.correspondent-details p:first-child, .business-article-info, .politics-article-info, .politics-article-image small, .food-article-info, .recent-stories-info{
		font-size:14px;
	}
	
	.correspondent-details p:last-child{
		font-size:10px;
	}
	
	.news-headline, .food-headline{
		font-size:18px;
	}
	
	.newsletter, .readmore{
		display:none;
	}
	
	.politicalnews .section-heading, .food-health-heading .section-heading, .recent-stories-heading .section-heading{
		font-size:26px;
		font-weight:bold;
	}
	
	.recent-stories-headline .headline{
		font-size:26px;
	}
	
	.politics-article-two{
		margin:0;
	}
	
	.news-content{
		padding: 15px 0;
		margin: 0 15px;
	}
	
	.news-article:last-of-type .news-content{
		border:none;
	}
	
	.politics-article-image h2{
		font-size:32px;
	}
	
	.food-health-heading .pinkborder{
		width:166px;
	}
	
	.food-health-section img{
		height:200px;
	}
	
	.nav-bar{
		width: 30%;
		position: absolute;
		margin-top:0;
	}
	
	.nav-bar li{
		text-decoration:none;
	}

	header input{
    	margin-left: 10%;
	}	

	.carousel ul li, .carousel{
		height:248px;
	}
	
	.c-content{
		top:8%;
	}
	
	.carousel img{
		height: 245px;
	}
	
	.recent-stories-image img{
		height:246px;
	}

	.page-footer{
		text-align:right;
		display:flex;
		padding: 15px 1%;
		font-size:18px;
	}
	
	.footer-logo{
		display:block;
	}
	
	.page-footer span img{
		float:left;
	}
	
  }
  
  /* code for laptop */

  @media only screen and (min-width: 1140px){ 
  
	.main-content{
		padding: 20px 85px 0 85px;
	}

  	.page-header input{
  		margin-left: 16%;
  	}
	
	.section-one{
		display: flex;
		margin: 15px;
	}
	
	.section-one-image{
		flex:1;
		height: 444px;
	}
	
	.section-one-content, .business-article-section-one, .business-article-section-two, .newsletter-container, .politics-article-image, .politics-article-one, .politics-article-two, .food-health-container .grey-background, .food-health-section, .page-footer span{
		flex:1;
	}
	
	.recent-stories-headline, .recent-stories-image{
		width:33.33%;
		flex: none;
	}
	
	.section-heading, .recent-stories-info{
		font-size:18px;
	}
	
	.yellowborder{
		width:73px;
	}
	
	.coralborder{
		width:64px;
	}
	
	.lightblueborder{
		width:48px;
	}
	
	.pinkborder{
		width:128px;
	}
	
	.business-article-section-two .yellowborder{
		width:58px;
	}
	
	.article-headline, .politicalnews .section-heading, .politics-article-image h2, .food-health-heading .section-heading, .recent-stories-heading .section-heading{
		font-size: 34px;
	}
	
	.article-brief, .food-brief{
		display:block;
		font-size: 18px;
	}
	
	.business-article, .politics-article, .food-health-container{
		display: flex;
	}
	
	.business-headline, .politics-brief{
		font-size:24px;
	}
	
	.business-article .section-heading, .business-article-info, .recent-stories-article .recent-stories-headline .section-heading, .recent-stories-date-info{
		font-size:14px;
	}
	
	.newsletter-ad{
  		width: 92%;
    	height: 265px;
    	background:#fff;
    	border:1px solid #ddd;
		margin: 10px auto;
		display: block;
  	}
	
	.newsletter{
		margin: 10px auto;
	}
	
	.politics-article-container{
		display:flex;
		width:66.66%;
	}
	
	.readmore{
		display:none;
	}
	
	.nav-bar{
		width: 11%;
		position: absolute;
		top: 45px;
	}
	
	.nav-bar li{
		text-decoration:none;
		font-size: 14px;
		box-shadow: -2px 1px 1px 1px #ddd;
	}
	
	.food-health-image img{
		height:181px;
	}
	
	.food-health-heading .pinkborder {
		width: 217px;
	}
	
	.food-health-headline .headline{
		font-size:22px;
	}
	
	.food-health-info{
		font-size:16px;
	}
	
	.food-health-section img{
		height:321px;
	}
	
	.food-headline, .recent-stories-headline .headline{
		font-size:30px;
	}
	
	.blueborder{
		width:213px;
	}
	
	.recent-stories-image img{
		height:273px;
	}
	
	.recent-stories-article .recent-stories-headline .pinkborder {
		width: 145px;
	}

  	.page-footer{
		text-align:right;
		display:flex;
		padding: 15px 5%;
		font-size:18px;
	}
	
	.footer-logo{
		display:block;
	}
	
	.page-footer span img{
		float:left;
	}
}
